form.login.form-horizontal
  div
    h3.modal-header Login
    div.modal-body        
      .error
      label(for="inputUsername") Pseudo
      input(type="text", id="inputUsername", placeholder="Username", name="username", autocapitalize="off")
      label(for="inputPassword") Password
      input(type="password", id="loginPassword", placeholder="Password", name="password", autocapitalize="off")
      button.btn-primary.signin Sign in